<h1>{{ title }}</h1>

<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias animi atque consequatur culpa debitis delectus
        deserunt dicta distinctio dolore eaque earum enim et ex facere fugit harum hic illo in laborum maiores, minus
        molestiae nam, obcaecati odit perferendis placeat provident qui quisquam rerum ullam ut vel vitae. Ipsam,
        rerum.</p>
    <p>Ad architecto aut doloribus expedita explicabo, libero, nemo nesciunt nobis odit, ratione reprehenderit similique
        sint totam. Adipisci amet animi autem corporis, cum deleniti distinctio ducimus eligendi esse est eum excepturi
        inventore laborum maxime nemo nostrum nulla praesentium provident quod repellendus sed vero vitae. Ipsa numquam
        pariatur possimus quos rem temporibus?</p>
    <p>Distinctio esse, praesentium! Ad assumenda consectetur cum debitis deleniti distinctio dolorem doloremque ea esse
        est hic impedit, ipsum magnam modi nobis non nostrum odio odit optio perspiciatis quia quidem quis quisquam quod
        reiciendis similique soluta tempora unde velit voluptates. Consectetur exercitationem laboriosam libero magnam
        magni nemo qui quibusdam velit! Expedita!</p>
    <p>Autem distinctio exercitationem ipsa ipsam, ipsum nisi repellat sapiente sequi. A ab accusantium alias aliquid
        amet, aspernatur atque beatae consectetur delectus dicta dolorum eaque fuga fugiat, illo ipsum iste iure labore
        laudantium magnam maiores maxime modi natus necessitatibus neque non nulla reiciendis repudiandae sequi sint
        sunt suscipit tempora tenetur vitae.</p>
    <p>Commodi corporis deserunt dignissimos distinctio dolore dolorem ducimus enim et excepturi harum hic inventore
        ipsum iste magnam, magni molestiae officiis placeat porro quae recusandae ullam veniam vero. Ad architecto
        asperiores cumque expedita facere id itaque, minus nemo nisi omnis provident quas quidem saepe sint tempora
        temporibus ut velit voluptate? Vero.</p>
    <p>Amet beatae cum debitis delectus dignissimos distinctio dolores esse est et eum, ex explicabo in inventore ipsam
        itaque labore, laudantium natus neque nostrum porro praesentium provident quibusdam quos saepe soluta suscipit
        tenetur totam vero voluptas voluptates? Alias aliquam amet culpa fugiat nulla obcaecati sint. Cum deserunt
        minima nulla pariatur suscipit?</p>
    <p>Ad aperiam at aut, blanditiis culpa cumque deleniti deserunt dignissimos dolore dolorum enim fugiat id illum
        libero magni, minus modi, mollitia necessitatibus omnis perferendis perspiciatis porro quis sapiente similique
        tempora tenetur ullam veniam. Accusantium aliquam, amet at cum doloribus ipsum itaque, labore libero nobis quas
        saepe sunt tenetur velit voluptatem!</p>
    <p>Ab, amet culpa cum earum eius enim expedita illum in minus praesentium similique, sunt velit, vitae? Consequatur
        dicta dignissimos dolores dolorum eaque earum eius, hic libero, officia perferendis quidem sequi? Accusantium
        cumque, eligendi ex incidunt inventore ipsa libero omnis, quaerat quis quo tempore ut. Dicta dolorum laboriosam
        placeat quos tempore.</p>
    <p>Beatae deserunt dolore illum maiores! Aliquid animi fugiat officiis porro provident quidem voluptatibus! Aut fuga
        ipsum molestias nihil. Consequuntur ea id incidunt magni odio reprehenderit unde. Cum libero maxime quaerat!
        Magnam, nostrum, repellendus? A architecto consectetur consequatur consequuntur, cum enim esse excepturi fuga
        labore minima non nostrum qui, ratione! Cum.</p>
    <p>Animi consequuntur cupiditate deleniti, doloremque expedita minima, neque pariatur, quidem quo reiciendis
        repellat tempore ut. Dicta dolorum ea eos facere id in molestiae nam quo? Aliquid culpa distinctio doloribus
        dolorum eveniet excepturi illum minima, natus nesciunt numquam odio optio porro qui saepe, sint. Cupiditate,
        magni minima neque perferendis quisquam sint!</p>
</div>

<hr>

{# Twig filter documentation : https://twig.symfony.com/doc/2.x/ #}

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>